{% extends "layout.njk" %}
{% block pagina %}

<div style="margin-left:15%;padding:1px 16px;height:1000px;">
   <h1>Lista de Artigos</h1>

{% for artigo in artigos %}
<div class="ex-container" style="width: 583px; height: 385px;">
<div class="parent white">
    <div class="card purple">
      <a href="/showartigo/{{artigo.id}}">{{artigo.titulo}}</a>
      <div class="visual yellow"></div>
      <p>{{artigo.corpo}}</p>
    </div>
  </div>
  </div>
</div>
{% endfor %}

{% endblock %}