{% extends "layout.njk" %}
{% block pagina %}
<div style="margin-left:15%;padding:1px 16px;height:1000px;">

<h1 class="mb-4">{{artigo.titulo}}</h1>

<div class="col-md-6">
    
    <h3 class="mb-4">{{artigo.corpo}}</h3>
    <h4 class="mb-4">{{artigo.data}}</h4>
    <h4 class="mb-4">{{artigo.categoria}}</h4>
    <h4 class="mb-4">{{artigo.nome_criador}}</h4>    
    <a href="{{artigo.img_url}}">Imagem</a>    
    
</div>

</div>
{% endblock %}