{% extends "layout_login.njk" %}
{% block pagina %}

    <h1>Lista de Podcasts</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome criador</th>
                <th>Link</th>
                <th>Texto</th>
                <th>Ações</th>
                <th><a class="nav-link" href="/addpodcast">Criar</a></th>
            </tr>
        </thead>
        <tbody>
            {% for podcast in podcasts %}
            <tr>
                <td>{{podcast.id}}</td>
                <td>{{podcast.nome_criador}}</td>
                <td>{{podcast.link}}</td>
                <td>{{podcast.texto}}</td>
                <td>
                    <a href="/showpodcast/{{podcast.id}}" class="btn btn-primary">Visualizar</a>
                    <a href="/editpodcast/{{podcast.id}}" class="btn btn-primary">Editar</a>
                    <button class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('logout-form-{{podcast.id}}').submit();">Excluir
                    </button>
                </td>

                <form id="logout-form-{{podcast.id}}" action="/deletepodcast/{{podcast.id}}" method="POST" class="d-none">
                    <input type="hidden" name="_method" value="DELETE" />
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}