{% extends "layout_login.njk" %}
{% block pagina %}

    <h1>Lista de Artigos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Criador</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Ações</th>
                <th><a class="nav-link" href="/addartigo">Criar</a></th>
            </tr>
        </thead>
        <tbody>
            {% for artigo in artigos %}
            <tr>
                <td>{{artigo.id}}</td>
                <td>{{artigo.nome_criador}}</td>
                <td>{{artigo.titulo}}</td>
                <td>{{artigo.corpo}}</td>
                <td>
                    <a href="/showartigo/{{artigo.id}}" class="btn btn-primary">Visualizar</a>
                    <a href="/editartigo/{{artigo.id}}" class="btn btn-primary">Editar</a>
                    <button class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('logout-form-{{artigo.id}}').submit();">Excluir
                    </button>
                </td>

                <form id="logout-form-{{artigo.id}}" action="/deleteartigo/{{artigo.id}}" method="POST" class="d-none">
                    <input type="hidden" name="_method" value="DELETE" />
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}