{% extends "layout_video.njk" %}
{% block pagina %}
<h1 class="mb-4">Criar Vídeo</h1>

<div class="col-md-6">
    <form action="/video" method="post">
        <div class="form-group">
            <label for="id_criador">Nome do criador</label>
            <input type="text" class="form-control" name="nome_criador" id="nome_criador" placeholder="Rodrick, Samuka...">
        </div>
        
        <div class="form-group">
            <label for="estrelas">Data</label>
            <input type="text" class="form-control" name="data" id="data" placeholder="2001-09-11">
        </div>


        <div class="form-group">
            <label for="estrelas">Categoria</label>
            <input type="text" class="form-control" name="categoria" id="categoria" placeholder="Games, Tec...">
        </div>

        <div class="form-group">
            <label for="id_criador">Título</label>
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Lolzinho">
        </div>
        
        <div class="form-group">
            <label for="estrelas">Texto</label>
            <textarea type="text" class="form-control" name="texto" id="texto" cols="30" rows="10" placeholder="Lolzin de boas...">
        </div></textarea>


        <div class="form-group">
            <label for="estrelas">Link YouTube</label>
            <input type="text" class="form-control" name="link" id="link" placeholder="https/youtube12asdf3">
        </div>

        
        <button type="submit" class="btn btn-primary">Criar</button>
        
        <a href="/video" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}