{% extends "layout_user.njk" %}
{% block pagina %}
<h1 class="mb-4">Cadastro de Criadores</h1>

<div class="col-md-6">
    <form action="/cria" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Siclano">
        </div>
        
        <div class="form-group">
            <label for="estrelas">Senha</label>
            <input type="text" class="form-control" name="senha" id="senha" placeholder="siclano123">
        </div>

        <div class="form-group">
            <label for="estrelas">Nick</label>
            <input type="text" class="form-control" name="nick" id="nick" placeholder="siclaninho">
        </div>

        <div class="form-group">
            <label for="artista">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="siclano@mail.com">
        </div>

        <div class="form-group">
            <label for="estrelas">Linkedin</label>
            <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="siclano.li">
        </div>

        <div class="form-group">
            <label for="estrelas">Intagram</label>
            <input type="text" class="form-control" name="instagram" id="instagram" placeholder="@siclano123">
        </div>

        <div class="form-group">
            <label for="estrelas">Twiter</label>
            <input type="text" class="form-control" name="twiter" id="twiter" placeholder="siclano123">
        </div>

         <div class="form-group">
            <label for="estrelas">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="facebook" placeholder="siclano almeida">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        
        <a href="/cria" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}