{% extends "layout.njk" %}
{% block pagina %}
<h1 class="mb-4">Cadastro de Usuário</h1>

<div class="col-md-6">
    <form action="/" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Siclano">
        </div>

        <div class="form-group">
            <label for="artista">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="siclano@mail.com">
        </div>

        <div class="form-group">
            <label for="estrelas">Senha</label>
            <input type="text" class="form-control" name="senha" id="senha" placeholder="siclano123">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        
        <a href="/" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}