{% extends "layout_user.njk" %}
{% block pagina %}

<h1>Atualizar Usuário</h1>

<div class="col-md-6">
    <form action="/edit/{{criador.id}}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label>Id</label>
            <p class="form-control" id="nome">2</p>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
           <input type="text" class="form-control" name="nome" id="nome" placeholder="Siclano" value="{{criador.nome}}">
        </div>
        
        <div class="form-group">
            <label for="estrelas">Senha</label>
            <input type="text" class="form-control" name="senha" id="senha" placeholder="siclano123" value="{{criador.senha}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Nick</label>
            <input type="text" class="form-control" name="nick" id="nick" placeholder="siclaninho" value="{{criador.nick}}">
        </div>

        <div class="form-group">
            <label for="artista">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="siclano@mail.com" value="{{criador.email}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Linkedin</label>
            <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="siclano.li" value="{{criador.linkedin}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Intagram</label>
            <input type="text" class="form-control" name="instagram" id="instagram" placeholder="@siclano123" value="{{criador.instagram}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Twiter</label>
            <input type="text" class="form-control" name="twiter" id="twiter" placeholder="siclano123" value="{{criador.twiter}}">
        </div>

         <div class="form-group">
            <label for="estrelas">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="facebook" placeholder="siclano almeida" value="{{criador.facebook}}">
        </div>


        <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="/cria" class="btn btn-default">Voltar</a>
        </form>
    </div>
    {% endblock %}