{% extends "layout_login.njk" %}
{% block pagina %}

<h1>Atualizar Podcast</h1>

<div class="col-md-6">
    <form action="/editpodcast/{{podcast.id}}" method="post">
        <input type="hidden" name="_method" value="PUT">
       
        <div class="form-group">
            <label for="id_criador">Nome do criador</label>
           <input type="text" class="form-control" name="nome_criador" id="nome_criador" placeholder="{{podcast.nome_criador}}" value="{{podcast.nome_criador}}">
        </div>
        
        <div class="form-group">
            <label for="estrelas">Data</label>
            <input type="text" class="form-control" name="data" id="data" placeholder="{{podcast.data}}" value="{{podcast.data}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Categoria</label>
            <input type="text" class="form-control" name="categoria" id="categoria" placeholder="{{podcast.categoria}}" value="{{podcast.categoria}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Título</label>
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="{{podcast.titulo}}" value="{{podcast.titulo}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Texto</label>
            <input type="text" class="form-control" name="texto" id="texto" placeholder="{{podcast.texto}}" value="{{podcast.texto}}">
        </div>

        <div class="form-group">
            <label for="estrelas">Link Spotify</label>
            <input type="text" class="form-control" name="link" id="link" placeholder="{{podcast.link}}" value="{{podcast.link}}">
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="/podcast" class="btn btn-default">Voltar</a>
        </form>
    </div>
    {% endblock %}