{% extends "layout_user.njk" %}
{% block pagina %}

    <h1>Lista de Usuários</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td class="nav-link" href="/user">Id</td>
                <td class="nav-link" href="/user">Nome</td>
                <td class="nav-link" href="/user">E-mail</td>
                <td class="nav-link" href="/user">Ações</td>
                 
                    <li class="nav-item active">
                      <a class="nav-link" href="/user">Inicio</a>
                    </li>
    
                    <li class="nav-item">
                      <a class="nav-link" href="/add">Cadastrar</a>
                    </li>
                   
                  
            </tr>
        </thead>
    </table>

{% endblock %}