{% extends "layout_user.njk" %}
{% block pagina %}

    <h1>Selecionar função</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Play</td>
                <td>Configurações</td>
                <td>Artigos</td>
                <td>Podcast</td>
                <td>Vídeos</td>
            </tr>
        </thead>
    </table>

{% endblock %}