{% extends "layout_artigo.njk" %}
{% block pagina %}

{% for artigo in artigos %}
<div class="ex-container" style="width: 583px; height: 385px;">
<div class="parent white">
    <div class="card purple">
      <h1>{{artigo.titulo}}</h1>
      <div class="visual yellow"></div>
      <p>{{artigo.corpo}}</p>
    </div>
  </div>
  </div>

{% endfor %}

    <h1>Lista de Artigos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Criador</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for artigo in artigos %}
            <tr>
                <td>{{artigo.id}}</td>
                <td>{{artigo.nome_criador}}</td>
                <td>{{artigo.titulo}}</td>
                <td>{{artigo.corpo}}</td>
                <td>
                    <a href="/editartigo/{{artigo.id}}" class="btn btn-primary">Editar</a>
                    <a href="/showartigo/{{artigo.id}}" class="btn btn-primary">Visualizar</a>
                    <button class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('logout-form-{{artigo.id}}').submit();">Excluir
                    </button>
                </td>

                <form id="logout-form-{{artigo.id}}" action="/deleteartigo/{{artigo.id}}" method="POST" class="d-none">
                    <input type="hidden" name="_method" value="DELETE" />
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}