<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal
    e=1">
    <title></title>
    

	<SCRIPT LANGUAGE="JAVASCRIPT" TYPE="TEXT/JAVASCRIPT">
		
    
		function saySomething(message) {
			alert(message)
      ans = prompt("Diga as:","")
		if (ans == "kkk") {
			alert("Dissestes ' "+ans+" ', poderás acessar como usuário.")
      login()
		}
		else {
      if (ans != ""){
			  alert("Resposta errônea.")
        }
        else{
          alert("Não respondestes.")
        }
		  }
		}
    
	
		// End hiding script from older browsers -->
	</SCRIPT>	


 <style>
      // cards
      .parent {
      height: auto;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      }

      .card {
        width: clamp(23ch, 50%, 46ch);
        display: flex;
        flex-direction: column;
        background: lightpink;
        padding: 1rem;
        justify-content: space-between;
      }

      .visual {
          height: 125px;
          width: 100%;
          background: wheat;
          margin: 0.5rem 0;
        }
      
      
       
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 15%;
        background-color:  #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
      }

      li a {
        display: block;
        color: #000;
        padding: 20px 30%;
        text-decoration: none;
      }

      li a.active {
        background-color: #4CAF50;
        color: white;

      }

      li a.button {
        display: inline-block;
        margin: 15%;
        padding: 15px 15%;
        font-size: 100%;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px #999;
      }

      li a.button:hover {background-color: #3e8e41}

      li a.button:active {
        background-color: #3e8e41;
        box-shadow: 3px 3px #999;
        transform: translateY(5px);
        transform: translateX(5px);
      }

  </style>

    </head>
    <body>   
<ul>
  <li><a class="active" href="/home">ARCADE</a></li>
  <li><a class="button" href="/homeartigo">ARTIGOS</a></li>
  <li><a class="button" href="/homevideo">VÍDEOS</a></li>
  <li><a class="button" href="/homepodcast">PODCAST</a></li>
  <li>
      <a class="button" VALUE="Play" onClick="saySomething('Sabes as palavras secretas?')">PLAY</a>
  </li>
</ul>

<script>
function login(){
document.write("<a href=/login>login</a>")
 }
</script>
{% block pagina %} {% endblock %}
    
</body>
</html>